In [9]:
#usedto libraries to be imported 
import pandas as pd
import numpy as np

import random
import warnings
warnings.filterwarnings('ignore')


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [10]:
data_frame = pd.read_csv("RONALDO.csv") # reading data from the CSV file

In [11]:
data_frame.shape

(30697, 28)

In [12]:
#checcking how the data looks like
data_frame.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

# A. Data Preprocessing

# 1. Exploring the Columns of Dataset

In [13]:
# A. Using descriptive Statistics to find some insights
data.describe()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,shot_id_number,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
count,30697.000000,29134.000000,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000,29134.000000,3.069700e+04,3.069700e+04,29162.000000,29158.000000,29204.000000,29158.000000,29129.000000
mean,15348.000000,249.576028,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331,15368.581039,2.476407e+07,1.610613e+09,18.204615,15.994109,16.599402,39.027303,38.801852
std,8861.604943,150.186019,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013,8866.520772,7.755175e+06,0.000000e+00,29.416973,29.676815,35.172016,29.835284,18.787711
min,0.000000,2.000000,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,2.000001e+07,1.610613e+09,0.000000,1.000000,0.000000,0.000000,9.400000
25%,7674.000000,111.000000,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000,7693.250000,2.050008e+07,1.610613e+09,3.000000,2.000000,0.000000,17.000000,26.000000
50%,15348.000000,254.000000,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000,15378.500000,2.090035e+07,1.610613e+09,6.000000,3.000000,0.000000,35.000000,36.000000
75%,23022.000000,369.000000,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000,23055.750000,2.960047e+07,1.610613e+09,11.000000,4.000000,1.000000,52.000000,44.000000
max,30696.000000,659.000000,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000,30697.000000,4.990009e+07,1.610613e+09,128.761600,118.360000,141.352320,144.785600,115.728000

In [14]:
# B. Finding the dtypes of Columns to get some Insights
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 28 columns):
Unnamed: 0               30697 non-null int64
match_event_id           29134 non-null float64
location_x               29236 non-null float64
location_y               29157 non-null float64
remaining_min            29135 non-null float64
power_of_shot            29211 non-null float64
knockout_match           29180 non-null float64
game_season              24835 non-null object
remaining_sec            29103 non-null float64
distance_of_shot         29130 non-null float64
is_goal                  24429 non-null float64
area_of_shot             29195 non-null object
shot_basics              29122 non-null object
range_of_shot            29133 non-null object
team_name                29162 non-null object
date_of_game             29147 non-null object
home/away                29200 non-null object
shot_id_number           29134 non-null float64
lat/lng                  29132 non-null object
type_of_shot             15417 non-null object
type_of_combined_shot    15280 non-null object
match_id                 30697 non-null int64
team_id                  30697 non-null int64
remaining_min.1          29162 non-null float64
power_of_shot.1          29158 non-null float64
knockout_match.1         29204 non-null float64
remaining_sec.1          29158 non-null float64
distance_of_shot.1       29129 non-null float64
dtypes: float64(15), int64(3), object(10)
memory usage: 6.6+ MB

# ##2. Checking for Missing Values

In [16]:
# Percentage and Sum of Missing values in each Columns
missing_data_frame = pd.DataFrame({'total_missing': data_frame.isnull().sum(), 'perc_missing': (data_frame.isnull().sum()/data.shape[0])*100})
missing_data_frame

                       total_missing  perc_missing
Unnamed: 0                         0      0.000000
match_event_id                  1563      5.091703
location_x                      1461      4.759423
location_y                      1540      5.016777
remaining_min                   1562      5.088445
power_of_shot                   1486      4.840864
knockout_match                  1517      4.941851
game_season                     5862     19.096329
remaining_sec                   1594      5.192690
distance_of_shot                1567      5.104733
is_goal                         6268     20.418933
area_of_shot                    1502      4.892986
shot_basics                     1575      5.130795
range_of_shot                   1564      5.094960
team_name                       1535      5.000489
date_of_game                    1550      5.049353
home/away                       1497      4.876698
shot_id_number                  1563      5.091703
lat/lng                         1565      5.098218
type_of_shot                   15280     49.776851
type_of_combined_shot          15417     50.223149
match_id                           0      0.000000
team_id                            0      0.000000
remaining_min.1                 1535      5.000489
power_of_shot.1                 1539      5.013519
knockout_match.1                1493      4.863667
remaining_sec.1                 1539      5.013519
distance_of_shot.1              1568      5.107991

In [17]:
data.is_goal.value_counts()
#exploring the target variables  ("is_goal")

0.0    13550
1.0    10879
Name: is_goal, dtype: int64

In [18]:
#this shows that this is a binary classfication problem